.container{
	width: 100%;
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.col-1{
	width: 5.83333333%;

}

.col-2{
	width: 14.1666667%;
}

.col-3{
	width: 22.5000001%;
}

.col-4{
	width: 30.83333347%;
}

.col-5{
	width: 39.16666684%;
}

.col-6{
	width: 47.50000021%;
}

.col-7{
	width: 55.83333358%;
}

.col-8{
	width: 64.16666695%;
}

.col-9{
	width: 72.50000032%;
}

.col-10{
	width: 80.83333369%;
}

.col-11{
	width: 89.16666706%;
}

.col-12{
	width: 97.50000043%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
	display: block;
	float: left;
	margin: 0 1.25% 0 1.25%;
	height: 100px;
	margin-bottom: 2px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 640px) {

	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
		width: 100%;
	}

}
